# application

export CSRF_SECRET_KEY=""
export RATE_LIMIT_REQUESTS_PER_MINUTE=120
export RATE_LIMIT_BURST_SIZE=30

# user management

export ADMIN_USERNAME=""
export ADMIN_PASSWORD=""
export ADMIN_CREATE_FORCE=false
export SESSION_EXPIRY_PERIOD=""

# git

export REPO_URL=""
export REPO_BRANCH=""

# telegram

export TELETHON_BOT_NAME=""
export TELETHON_BOT_TOKEN=""

export TELETHON_API_PHONE=""
export TELETHON_API_ID=""
export TELETHON_API_HASH=""

export TELETHON_USER_ID=0
export TELETHON_BOT_ID=0

# exchanges

export KUCOIN_API_SECRET=""
export KUCOIN_API_KEY=""
export KUCOIN_API_KEY_PASSPHRASE=""

export MEXC_API_KEY=""
export MEXC_API_SECRET=""

# news serices

export CRYPTO_PANIC_API_KEY=""
export GNEWS_API_KEY=""
export COINDESK_API_KEY=""

# LLMs

export OPENAI_API_KEY=""

# databases

export DATABASE_USERNAME=""
export DATABASE_PASSWORD=""
export DATABASE_HOST=""
export DATABASE_PORT=0
export DATABASE_SCHEMA=""
export DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_SCHEMA}

# caches

export CELERY_BROKER_USERNAME=""
export CELERY_BROKER_PASSWORD=""
export CELERY_BROKER_PORT=0
export CELERY_BROKER_MANAGEMENT_PORT=0
export CELERY_BROKER_URL=pyamqp://${CELERY_BROKER_USERNAME}:${CELERY_BROKER_PASSWORD}@localhost:${CELERY_BROKER_PORT}//

export CELERY_RESULT_BACKEND_PASSWORD=""
export CELERY_RESULT_BACKEND_PORT=0
export CELERY_RESULT_BACKEND=redis://:${CELERY_RESULT_BACKEND_PASSWORD}@localhost:${CELERY_RESULT_BACKEND_PORT}/0

# storages

export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export MINIO_ENDPOINT=""
export MINIO_SECURE=""
export MINIO_BUCKET_NAME=""

export LOCAL_STORAGE_IS_ENABLED=""
export LOCAL_STORAGE_PATH=""