export TELETHON_BOT_NAME=""
export TELETHON_BOT_TOKEN=""

export TELETHON_API_PHONE=""
export TELETHON_API_ID=""
export TELETHON_API_HASH=""

export TELETHON_USER_ID=0
export TELETHON_BOT_ID=0

export KUCOIN_API_SECRET=""
export KUCOIN_API_KEY=""
export KUCOIN_API_KEY_PASSPHRASE=""

export MEXC_API_KEY=""
export MEXC_API_SECRET=""

export OPENAI_API_KEY=""
