# telegram

export TELETHON_BOT_NAME=""
export TELETHON_BOT_TOKEN=""

export TELETHON_API_PHONE=""
export TELETHON_API_ID=""
export TELETHON_API_HASH=""

export TELETHON_USER_ID=0
export TELETHON_BOT_ID=0

# exchanges

export KUCOIN_API_SECRET=""
export KUCOIN_API_KEY=""
export KUCOIN_API_KEY_PASSPHRASE=""

export MEXC_API_KEY=""
export MEXC_API_SECRET=""

# news serices

export CRYPTO_PANIC_API_KEY=""
export GNEWS_API_KEY=""
export COINDESK_API_KEY=""

# LLMs

export OPENAI_API_KEY=""

# databases

export TEST_DATABASE_URL=""
export DATABASE_URL=""

# storages

export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export MINIO_ENDPOINT=""
export MINIO_SECURE=""

export LOCAL_STORAGE_IS_ENABLED=""
export LOCAL_STORAGE_PATH=""